body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Microsoft YaHei Light", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #f2f2f2;
}
main {
  max-width: 650px;
  margin: 4% auto;
  line-height: 1.5;
  color: #222;
  padding: 0 10px;
}

h1 {
  font-size: 2em;
  margin-bottom: 0;
}
h2 {
  margin-top: 0;
  color: #888;
  font-size: 1em;
  font-weight: 400;
}
#links {
  margin-top: 30px;
}
