@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@400;500;600&display=swap');

/* ==== VARIABLES ==== */
:root {
	--header-height: 3rem;

	/* ==== Colors ==== */
	--hue-color: 220;

	/* ==== HSL COLOR MODE ==== */
	--primary-color: hsl(var(--hue-color), 69%, 60%);
	--primary-color-alt: hsl(var(--hue-color), 57%, 43%);
	--primary-color-lighter: hsl(var(--hue-color), 92%, 85%);
	--title-color: hsl(var(--hue-color), 8%, 23%);
	--text-color: hsl(var(--hue-color), 10%, 50%);
	--text-color-light: hsl(var(--hue-color), 8%, 65%);
	--body-color: hsl(var(--hue-color), 60%, 99%);
	--container-color: #fff;
	--scrollbar-color: hsl(var(--hue-color), 12%, 90%);
	--scroll-thumb-color: hsl(var(--hue-color), 69%, 60%);

	/* ==== Font and Typography ==== */
	--body-font: 'Poppins', sans-serif;

	--big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .93rem;
    --small-font-size: .81rem;
    --smaller-font-size: .75rem;

	/* ==== Font weight ==== */
	--font-medium: 500;
	--font-semi-bold: 600;

	/*==== Margenes Bottom ====*/
	/* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
	--mb-0-25: .25rem;
	--mb-0-5: .5rem;
	--mb-0-75: .75rem;
	--mb-1: 1rem;
	--mb-1-5: 1.5rem;
	--mb-2: 2rem;
	--mb-2-5: 2.5rem;
	--mb-3: 3rem;

	/*==== z index ====*/
	--z-tooltip: 10;
	--z-fixed: 100;
	--z-modal: 1000;
}

/* ======== Font size for large device ======== */
@media screen and (min-width: 968px) {
	:root {
		--big-font-size: 3rem;
		--h1-font-size: 2.25rem;
		--h2-font-size: 1.5rem;
		--h3-font-size: 1.25rem;
		--normal-font-size: 1rem;
		--small-font-size: .875rem;
		--smaller-font-size: .813rem;
	}
}

/* ==== DARK THEME VARIABLES ==== */
body.dark-theme {
	/* ==== HSL COLOR MODE ==== */
	--primary-color-alt: hsl(var(--hue-color), 30%, 90%);
	--title-color: hsl(var(--hue-color), 8%, 95%);
	--text-color: hsl(var(--hue-color), 10%, 75%);
	--text-color-light: hsl(var(--hue-color), 29%, 16%);
	--body-color: hsl(var(--hue-color), 28%, 12%);
	--container-color: hsl(var(--hue-color), 29%, 16%);
}

/* ======== BASE ======== */
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0 0 var(--header-height) 0;
	font-family: var(--body-font);
	font-size: var(--normal-font-size);
	background-color: var(--body-color);
	color: var(--text-color);
}

h1, h2, h3, h4 {
	color: var(--title-color);
	font-weight: var(--font-semi-bold);
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--text-color);
}

img {
	max-width: 100%;
	height: auto;
}


/* ======== REUSABLE CSS CLASSES ======== */
.section {
	padding: 2rem 0 4rem;
}

.section__title {
	font-size: var(--h1-font-size);
	color: var(--title-color);
	text-align: center;
}

.section__subtitle {
	display: block;
	font-size: var(--normal-font-size);
	margin-bottom: var(--mb-3);
	text-align: center;
}


/* ======== Layout ======== */
.container {
	max-width: 760px;
	margin-left: var(--mb-1-5);
	margin-right: var(--mb-1-5);
}

.grid {
	display: grid;
	gap: 1.5rem;
}

.header {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: var(--z-fixed);
	background-color: var(--body-color);
	color: var(--text-color);
}

/* ======== BUTTONS ======== */
.button {
	display: inline-block;
	background-color: var(--primary-color);
	color: #fff;
	padding: 1rem;
	border-radius: .5rem;
	font-weight: var(--font-medium);
}

.button:hover {
	background-color: var(--primary-color-alt);
}

.button__icon {
	font-size: 1.25rem;
	margin-left: var(--mb-0-5);
	transition: .3s;
}

.button__flex {
	display: inline-flex;
	align-items: center;
}

.button__small {
	cursor: pointer;
	padding: .7rem 1rem;
	border-radius: .5rem;
	background-color: var(--primary-color);
	color: #fff;
}

.button__link {
	padding: 0;
	background-color: transparent;
	color: var(--primary-color)
}

.button__link:hover {
	background-color: transparent;
	color: var(--primary-color-alt);
	cursor: pointer;
}

.button__small:hover {
	background-color: var(--primary-color-alt);
}

/* ===== 404 Button group ===== */
.btn__group {
	width: 100%;
	display: flex;
	justify-content: center;
}

/* ===== SCROLL BAR ===== */
::-webkit-scrollbar {
	width: 0.70rem;
	background-color: var(--scrollbar-color);
	border: 0.5rem;
}

::-webkit-scrollbar-thumb {
	background-color: var(--scroll-thumb-color);
	border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
	background-color: var(--text-color-light);
}

/* ==== END OF GENERAL STYLE ==== */
