@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

body {
	background: #f2f2f2;
	color: #333;
	font-family: 'Nunito';
}
a {
	color: #333;
	text-decoration: none;
}
.content {
	max-width: 960px;
	margin: 0 auto;
}
nav {
	margin: 10px auto 80px;
	padding: 10px 0;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	border-bottom: 1px solid #ddd;
}
nav a {
	margin-left: 12px;
	font-size: 1.2rem;
	border-bottom: 0px;
	transition: border-bottom 3s;
}

nav a::after {
	content: '';
	display: block;
	width: 0;
	height: 2px;
	background: #333;
	transition: width 0.3s;
}

nav a:hover::after {
	width: 100%;
}

nav .logo {
	margin-right: auto;
	margin-bottom: -40px;
}

p {
	font-size: 1.2rem;
}

footer {
	display: block;
	text-align: center;
	padding: 30px 0;
	margin-top: 60px;
	color: #777;
	border-top: 1px solid #eaeaea;
}

footer .social {
	display: flex;
}

.not-found {
	text-align: center;
}
.not-found a {
	color: #4979ff;
	text-decoration: underline;
}
