.title {
	color: #333;
	font-size: 2rem;
	padding-bottom: 20px;
	text-align: center;
}

.profile {
	display: flex;
	justify-content: center;
}

.profileImg {
	border-radius: 5%;
}

.text {
	color: #777;
	font-size: 1.5rem;
}
.btn {
	display: block;
	width: 150px;
	padding: 8px 0;
	margin: 20px auto;
	background: #4979ff;
	border-radius: 4px;
	color: white;
	text-align: center;
}
