/*======== Home Section ========*/
.home__container {
	gap: 3rem
}

.home__content {
	grid-template-columns: .5fr 3.5fr;
	padding-top: 3.5rem;
	align-items: center;
}

.home__social {
	display: grid;
	grid-template-columns: max-content;
	row-gap: 0.5rem;
}

.home__social__icon {
	font-size: 4rem;
	color: var(--primary-color);
}

.home__social__icon:hover {
	color: var(--primary-color-alt);
}

.home__blob {
	width: 350px;
	fill: var(--primary-color)
}

.home__blob__img {
	width: 190px;
}

.home__data {
	grid-column: 2/3;
	margin-left: 3rem;
}

.home__title {
	font-size: var(--big-font-size);
}

.home__subtitle {
	font-size: var(--h3-font-size);
	color: var(--text-color);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-0-75);
}

.home__description {
	margin-bottom: var(--mb-2);
}
