/*======== Home Section ========*/
.home__container {
	gap: 1rem
}

.home__content {
	grid-template-columns: .5fr 3.5fr;
	padding-top: 3.5rem;
	align-items: center;
}

.home__social {
	display: grid;
	grid-template-columns: max-content;
	row-gap: 2rem;
}

.home__social__icon {
	font-size: 3rem;
	color: var(--primary-color);
}

.home__social__icon:hover {
	color: var(--primary-color-alt);
}

.home__blob {
	width: 350px;
	fill: var(--primary-color)
}

.home__blob__img {
	width: 190px;
}

.home__data {
	grid-column: 2/4;
}

.home__title {
	font-size: var(--big-font-size);
}

.home__subtitle {
	font-size: var(--h3-font-size);
	color: var(--text-color);
	font-weight: var(--font-medium);
	margin-bottom: var(--mb-0-75);
}

.home__description {
	margin-top: var(--mb-1);
	margin-bottom: var(--mb-2);
}

/* ====== Media Queries ====== */

/* ===== Smaller Device ===== */


@media screen and (max-width: 767px) {
	.home__content{
		grid-template-columns: .25fr 3fr;
	}
	.home__blob {
		width: 240px;
	}
	.home__data {
		grid-column: 2/4;
	}
}

/* ==== Medium Device ==== */

@media screen and (min-width: 768px) {
	.home__container {
		row-gap: 3rem;
	}

	.home__content {
		grid-template-columns: max-content 1fr 1fr;
		grid-gap: 1.5rem;
		padding-top: 5rem;
	}

	.home__data {
		grid-column: initial;
	}

	.home__social {
		margin-right: 1rem;
	}

	.home__img {
		order: 1;
		justify-self: center;
	}

	.home__blob {
		width: 400px;
	}

	.home__title {
		font-size: 2.5rem;
	}
}



/* ===== Large Device ===== */
@media screen and (min-width: 1024px) {
	.home__blob {
		width: 420px;
	}
	
	.home__social {
		transform: translateX(-6rem);
	}

}