.single {
	padding: 2px 16px;
	background: #fff;
	display: block;
	margin: 20px 10px;
	border-left: 8px solid #fff;
}
.single:hover {
	border-left: 8px solid #4979ff;
}

.group {
	display: flex;
	max-width: 300px;
	justify-content: center;
}

.btn {
	width: 80px;
	padding: 8px 0;
	margin: 20px auto;
	background: #4979ff;
	border-radius: 4px;
	color: white;
	text-align: center;
}

.btnSecondary {
	width: 80px;
	padding: 8px 0;
	margin: 20px auto;
	background: #ff9849;
	border-radius: 4px;
	color: #000;
	text-align: center;
}
